
input
{
    border-color:rgba(175, 92, 92, 0.18);
    border-radius:8px;
}

input:focus
{
    border-color:rgba(140, 47, 57, 0.6);
    border-radius:0;
} 


input:focus + .fa
{
    color:rgba(140, 47, 57, 0.6);
}

.form__border
{
    border-radius:13px;
}

.z--9999
{
    z-index:-9999;
}

.Toastify__toast-body
{
    font-family:"Quicksand", sans-serif !important;
}

.loader
{
    width:20px;
    height:20px;
    border:3px solid #fff;
    border-top-color:transparent;
    border-radius:50%;
    animation-name:spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.quill
{
    border-color:transparent !important;
}

.ql-container
{
    border-radius:0 0 10px 10px !important;
    border-color:transparent !important;
}

.ql-toolbar
{
    padding-top:25px !important;
    padding-bottom:25px !important;
    border-radius:10px 10px 0 0 !important;
    font-family:"Quicksand", sans-serif !important;
    border-color:transparent !important;
}

.ql-editor
{
    min-height:350px !important;
    font-family:"Quicksand", sans-serif !important;
    font-size:1.2em;
    -moz-user-focus: true;
}

#tsparticles
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.note
{
    height:30vh;
}

.note::-webkit-scrollbar
{
	width:4px;
	background:rgba(0,0,0,0.05);
}

.note::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,0.25);
}

.note::-webkit-scrollbar-track
{
	background:rgba(0,0,0,0.01);
}

@keyframes spin
{
    from
    {
        transform:rotate(0deg);
    }

    to
    {
        transform:rotate(360deg);
    }
}

@media(max-width:576px)
{
    .form__border
    {
        border-radius:13px 13px 0 0;
    }
}